/*---------------------------------

全体

---------------------------------*/
:root {
  --main-text: #585858;
  --content-bg: #fff;
  --qiita-bg: rgba(#fff, 0);
  --main-bg: #fff;
  --shadow: #d7d3d3;
  --facebook: #3B5998;
  --twitter: #00acee;
  --line: #06c755;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-text: #bababa;
    --content-bg: #424242;
    --qiita-bg: #bababa;
    --main-bg: #2d2d2d;
    --shadow: #868686;
  }
}

:root[theme="light"] {
  --main-text: #585858;
  --content-bg: #fff;
  --qiita-bg: rgba(#fff, 0);
  --main-bg: #fff;
  --shadow: #d7d3d3;
}

:root[theme="dark"] {
  --main-text: #bababa;
  --content-bg: #424242;
  --qiita-bg: #bababa;
  --main-bg: #2d2d2d;
  --shadow: #868686;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'FOT-TsukuARdGothic Std R', 'ヒラギノ丸ゴ ProN', sans-serif;
  color: var(--main-text);
  transition: .3s;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display:none;
}

body {
  background-color: var(--main-bg);
  overflow: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

[v-cloak] {
  display: none;
}

#wrapper {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.align-center {
  text-align: center;
}

.items {
  text-align: left;
  display: inline-block;
}

h1 {
  font-size: 3.5vw;
  margin: 0 0 2vw 10vw;
}

h2 {
  font-size: 2.5vw;
  margin: 4vw auto 10px 11vw;
}

a {
  text-decoration: none!important;
}

.sns, .star, .card-body, .top, img, #nav {
  user-select:none;
  -webkit-user-select:none;
  -ms-user-select: none;
  -moz-user-select:none;
  -khtml-user-select:none;
  -webkit-user-drag:none;
  -khtml-user-drag:none;
}

img {
  pointer-events: none;
}
/*---------------------------------

トップ画像

---------------------------------*/
.top {
  position: relative;
}

.top img {
  width: 100vw;
  height: 50vw;
  object-fit: cover;
}

.rectangle {
  position: absolute;
  width: 62%;
  height: 20%;
  top: 27vw;
  background: var(--main-bg);
  opacity: 0.8;
  line-height: 11vw;
  font-size: 3vw;
  color: var(--main-text);
  vertical-align: baseline;
  overflow: hidden;
}

.rectangle :first-child {
  margin-left: 3vw;
  font-family: 'FOT-TsukuARdGothic Std B', 'ヒラギノ丸ゴ ProN', sans-serif;
  font-size: 4vw;
  vertical-align: baseline;
}

.rectangle :nth-child(2) {
  font-size: 3vw;
  white-space: nowrap;
}

/*---------------------------------

ヘッダーナビ

---------------------------------*/
.fixedNav {
  position: fixed;
  top: 0px;
  width: 100%;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0!important;
  z-index: 1;
}

#nav {
  list-style: none;
  height: 5vw;
  opacity: 0.9;
  background-color: var(--main-bg);
  box-shadow: 0px 1.5px 0px 0px rgba(0,0,0,0.1);
  z-index: 1000;
  margin-bottom: auto;
}

#nav li {
  width: calc(100% / 3);
  text-align: center;
  float: left;
  margin-top: 1vw;
}

#nav li > span {
  color: #fff;
  font-family: 'FOT-TsukuARdGothic Std R',sans-serif;
  font-size: 2vw;
  cursor: pointer;
}

#nav li span i {
  vertical-align: middle;
}

#nav li span:hover span i {
  display: inline-block;
  animation: yureru .7s infinite;
}

#nav li a span {
  display: inline-block;
}

#thema {
  font-size: 3vw;
  position: fixed;
  right: 50px;
  bottom: 50px;
  cursor: pointer;
  z-index: 1000;
}
#thema i {
  transition: .6s;
  color: var(--main-text)
}
#thema .fas {
  color: #ffd24a!important;
}

@keyframes yureru {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(20deg);}
  100% {transform: rotate(0deg);}
}

/*---------------------------------

about

---------------------------------*/
.profile-image-wap {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about {
  overflow: hidden;
}

#about .profile-img {
  -webkit-border-radius: 1.5vw;
  width: 32vw;
  height: 22vw;
  display: block;
  z-index: 1;
  object-fit: cover;
}

.name {
  font-size: 3.5vw;
}

.name-jp {
  font-size: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile div {
  font-size: 1.6vw;
}

.sns {
  font-size: 3.5vw;
}

.sns a {
  min-width: 50px;
  margin-right: 10px;
}

.sns i {
  transition: 0.5s;
}

.fa-github:hover {
  color: #24292e;
}

.qiita-logo {
  width: auto;
  height: 3vw;
  background-color: var(--qiita-bg);
}

.statses {
  margin: 3vw 13vw 0 13vw;
}

.stats {
  width: auto;
  height: 13vw;
  text-align: center;
}

.skills {
  font-size: 2vw;
}

.skills .lang i {
  font-size: 3vw;
}

.skills .lang {
  margin-right: 1vw;
}

.skills i {
  vertical-align: middle;
}

.skills span {
  font-size: 1.8vw;
}

.star {
  margin-right: 2vw;
}

.skills .summary {
  vertical-align: middle;

}

.lang, .logo {
  text-align: center;
  display: inline-block;
}

.lang {
  width: 5vw;
  vertical-align: middle;
}

.logo {
  width: 2vw;
}

.career {
  font-size: 1.8vw;
}

.career div div {
  width: 5vw;
  text-align: center;
  display: inline-block;
}

.career div span {
  margin-top: auto;
}

.career div div {
  margin-right: 2vw;
}

.career div div i {
  font-size: 3vw;
}

.career small {
  font-size: 90%;
}

.career a, .career a small {
  color: #0074ad!important;
}

.career a i {
  font-size: 1.5vw;
}

.tooltip {
  position:relative;
}

.tooltip i {
  cursor: pointer;
  cursor: hand;
}

.tooltip span {
  white-space: nowrap;
  text-align: center;
  position: absolute;
  top: -6vw;
  margin-left: -18vw;
  padding: 10px 20px;
  visibility: hidden;
  opacity: 0;
  background: var(--content-bg);

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  -moz-box-shadow: 0 0 8px 0 #585858;
  -webkit-box-shadow: 0 0 8px 0 #585858;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#585858', Direction=135, Strength=3);
  box-shadow: 0 0 8px 0 #585858;

  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.tooltip span:after {
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
}

.tooltip:hover > span {
  visibility: visible;
  opacity: 1;
  top: -5vw;

  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out; 
  -o-transition: all 0.5s ease-in-out; 
  transition: all 0.5s ease-in-out;
}


/*---------------------------------

works

---------------------------------*/
#works {
  margin: 7vw 0 10vw 0;
}

#works a {
  text-decoration: none;
}

#works > div {
  margin: 0 12vw 0 12vw;
}

.card {
  width: auto;
  margin-top: 2vw;
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: var(--content-bg);
}

.modal-title {
  font-size: 1.5rem;
}

.card-body {
  border-top: 1px solid rgba(0,0,0,.125);
}

.card-img-top {
  height: 100%;
}

.card-title {
  font-size: 1.6vw;
  margin-bottom: 0;
}

.tags {
  padding: 1.25rem 1rem;
}

.tags span {
  margin-right: 1vw;
}

.fa-tag {
  font-size: 1vw;
}

.tag {
  font-size: 1vw;
}

.card:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  box-shadow: 5px 5px 0 0 var(--shadow);
}

.modal-content {
  background-color: transparent;
}

.modal-dialog {
  max-width: 800px;
}

.modal-body table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.modal-body table tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

table th, table td{
  text-align: center;
  width: 25%;
  padding: 15px 0;
}

.modal-header {
  background-color: var(--content-bg);
}

.modal-body {
  font-size: 1.5vw;
  text-align: center;
  background-color: var(--content-bg);
}

.modal-body span {
  font-size: 1.5vw;
  display: inline-block;
  padding: 0 5% 5px 5%;
  width: 95%;
  text-align: left;
  border-bottom: solid 1px #eee;
}

/*---------------------------------

contact

---------------------------------*/
#contact {
  font-size: 3.5vw;
  margin-top: 7vw;
}

#contact .align-center {
  margin: auto;
  width: 45%;
}

#contact a {
  margin-bottom: 10px;
}

#contact div {
  font-size: 2.8vw;
  text-align: left;
}

#contact .logo {
  text-align: center;
}

#contact .logo i, .mail span, .facebook span, .messenger span, .twitter span {
  transition: 0.5s;
}
.mail:hover i, .mail:hover span {
  color: #DD5144;
}

.facebook:hover i,
.facebook:hover span,
.fa-facebook:hover {
  color: var(--facebook);
}

.messenger:hover i,
.messenger:hover span,
.fa-facebook-messenger:hover {
  color: #0084FF;
}

.twitter:hover i,
.twitter:hover span,
.fa-twitter:hover {
  color: var(--twitter);
}

.align-center div a {
  text-decoration: none;
}

.mail-sp, .facebook-sp, .messenger-sp, .twitter-sp {
  display: none;
}

#contact span {
  font-size: 2vw;
}

#contact i {
  font-size: 2.5vw;
}

#contact div div a {
  white-space: nowrap;
  display: block;
}

.share {
  width: 100%;
  padding-right: 9vw;
  text-align: right;
}

.share span {
  vertical-align: middle;
}

.share a {
  color: #fff;
  padding: .5rem;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-left: 5px;
  vertical-align: middle;
  display: inline-block;
}

.share a:hover {
  filter: brightness(50%);
}

.share i {
  color: #fff;
  font-size: 2vw;
}

.share a:hover i {
  color: #fff!important;
}

.share .facebook {
  background-color: var(--facebook);
}

.share .twitter {
  background-color: var(--twitter);
}

.share .line {
  background-color: var(--line);
}

.share .fa-share-alt {
  margin: .5rem;
}
