@media screen and (max-width: 991px) {
  /*---------------------------------

  全体

  ---------------------------------*/
  h1 {
    font-size: 6vw;
    margin-left: 5vw;
  }
  
  h2 {
    font-size: 5vw !important;
    margin-left: 6vw !important;
  }
  
  .col-sm-12 {
    flex: 0 0 100%!important;
    max-width: 100%!important;
  }
  
  /*---------------------------------

  ヘッダーナビ

  ---------------------------------*/
  #nav {
    height: 10vw;
  }
   
  #nav li a {
    font-size: 5vw;
  }

  #nav li a span:first-child {
    display: none;
  }
  
  #page_top {
    font-size: 5vw;
  }
  
  /*---------------------------------

  トップ画像

  ---------------------------------*/
  .top img {
    height: 100vw;
  }
  
  .rectangle {
    width: 85%;
    height: 15% !important;
    top: 60vw;
    line-height: 16vw;
  }
  
  .rectangle :first-child {
    font-size: 6vw;
  }
  
  .rectangle :nth-child(2) {
    font-size: 4vw!important;
  }
  
  /*---------------------------------

  about

  ---------------------------------*/
  #about .profile-img {
    -webkit-border-radius: 1.5vw;
    width: 50vw;
    display: block;
    margin:auto;
    margin-bottom: 4vw;
    margin-top: 2vw;
  }
  
  #about div span {
    text-align: left;
  }
  
  #about .align-center span {
    font-size: 3vw;
  }
  
  #about div .item {
    text-align: left;
  }
  
  .profile {
    text-align: center;
  }
  
  .profile div {
    font-size: 3.5vw;
  }
  
  .name {
    font-size: 5vw!important;
  }
  
  .name-jp {
    font-size: 3vw;
  }
  
  .sns {
    font-size: 6vw!important;
  }

  .qiita-logo {
    height: 6vw;
  }
  
  .skills .lang i {
    font-size: 4.5vw;
  }
  
  .lang {
    width: 7vw;
  }
  
  .skills {
    font-size: 5vw;
  }
  
  .star {
    font-size: 4.5vw;
  }
  
  .summary {
    font-size: 4vw!important;
    margin-top: 1vw 0 2vw 0;
    display: block;
  }
  
  #about .align-center {
    margin-left: 8vw;
  }
  
  .items {
    text-align: left;
    display: inline;
  }
  
  .career a {
    font-size: 2.5vw;
  }
  
  .career div div i {
    font-size: 4.5vw!important;
  }
  
  .period {
    font-size: 3.5vw!important;
    margin-left: 3vw;
  }
  
  .career .summary {
    margin-left: 8vw; 
  }
  
  .career .summary a, .career .summary span {
    font-size: 4vw!important;
  }
  
  .career .summary i {
    font-size: 3vw;
  }
  
  .tooltip {
    display: none;
  }
  
  /*---------------------------------

  works

  ---------------------------------*/
  .card {
    margin-bottom: 4vw;
  }  

  .card-title {
    font-size: 4vw!important;
  }
  
  .tags {
    padding:0.5rem 1.25rem;
  }

  .fa-tag {
    font-size: 2vw;
  }

  .tag {
    font-size: 2.5vw!important;
  }
  
  .modal-title {
    font-size: 3.5vw;
  }
  
  .close span {
    font-size: 5vw;
  }
  
  .modal-body tr {
    font-size: 3vw;
  }
  
  .modal-body span {
    font-size: 3vw!important;
  }
  
  /*---------------------------------

  contact

  ---------------------------------*/
  
  #contact {
    margin-bottom: 15vw!important;
  }
  
  #contact i, #contact span {
    font-size: 4.8vw!important;
  }
  
  #contact .align-center {
    margin-top: 2vh;
  }
  
  .mail, .facebook, .messenger {
    display: none;
  }
  
  .mail-sp, .facebook-sp, .messenger-sp {
    display: inline;
  }

}
