* {
  margin: 0px;
  padding: 0px;
  font-family: 'FOT-TsukuARdGothic Std R',sans-serif;
  color: #707070;
}

#wrapper {
  width:100%;
  overflow:hidden;
}

.top {
  position: relative;
}

.top img {
  width: 100vw;
  height: 50vw;
  object-fit: cover;
}

.top .rectangle {
  position: absolute; 
  width: 65%;
  height: 20%;
  top: 27vw;
  background: rgba(255, 255, 255, 0.8);
  line-height: 11vw;
}

.top .rectangle :first-child {
  margin-left: 3vw;
  font-family: 'FOT-TsukuARdGothic Std B',sans-serif;
  font-size: 4.5vw;
  vertical-align: baseline;

}

.top .rectangle span {
  font-size: 3vw;
  color: #605F5F;
  vertical-align: baseline;

}

.top .rectangle i {
  font-size: 2vw;
  color: #605F5F;
}

@media screen and (max-width:991px) { 
  .top img {
    height: 100vw;
  }
  
  .top .rectangle {
    width: 85%;
    height: 15% !important;
    top: 60vw;
    line-height: 16vw;
  }
  
  .top .rectangle :first-child {
    font-size: 6.5vw;
  }
  
  .top .rectangle span {
    font-size: 3.5vw;
  }
  
  .top .rectangle i {
    font-size: 2vw;
  }
}

#nav {
  list-style: none;
  overflow: hidden;
  height: 5vw;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 1.5px 0px 0px rgba(0,0,0,0.1);
  z-index: 99999;
  margin-bottom: auto;
}
 
#nav li {
  width: calc(100% / 3);
  text-align: center;
  float: left;
  margin-top: 1vw;
  display: box;
  box-align: center;
}
 
#nav li a {
  text-decoration: none;
  color: #fff;
  font-family: 'FOT-TsukuARdGothic Std R',sans-serif;
  font-size: 2vw;
  display: block;
}

#nav li a:hover .hover{
  display: inline-block;
  animation: yureru .7s infinite;
}

@keyframes yureru {
  0% {transform: rotateZ(0deg);}
  50% {transform: rotateZ(20deg);}
  100% {transform: rotateZ(0deg);}
}

.fixedNav {
  position: fixed;
  top: 0px;
  width: 100%;
}

#page_top {
  font-size: 2vw;
  color: #707070;
  position: fixed;
  right: -50px;
  bottom: 50px;
}

.about p {
  font-size: 3vw;
  margin-left: 10vw;
  margin-top: 4vw;
}

.about span {
  font-size: 1.6vw;
}

.about div img {
  -webkit-border-radius: 1.5vw;
  width: 30vw;
  display: block;
  margin: auto;
  z-index: 1;
}

.about .item p {
  margin-left: 0;
  margin-top: auto;
}

@media screen and (max-width:991px) { 
  
  .about p {
    font-size: 6vw;
    margin-left: 10vw;
  }
  
  .about span {
    font-size: 2.5vw;
  }
  
  .about div img {
    -webkit-border-radius: 1.5vw;
    width: 50vw;
    display: block;
    margin:auto;
  }
  
  .about div span {
    display: inline-block;
    text-align: left;
  }
  
  .about div {
    text-align: center;
  }
}

.skill {
  font-size: 2.5vw;
  margin-left: 12vw;
  margin-top: 7vw;
}

.skills {
  margin-left: 13vw;
  font-size: 2vw;
}

.skills .fab {
  font-size: 3vw;
  margin-right: 1vw;
}

.skills i {
  vertical-align: middle;
}

.skills span {
  font-size: 1.8vw;
  vertical-align: middle;
}

.lang {
  width: 5vw;
  text-align: center;
  display: inline-block;
}
